.dashboard {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 40px;
  .container_heading {
    color: rgba(33, 63, 125, 1);
    font-size: 24px;
    font-weight: 500;
  }
  .card_container {
    display: flex;
    justify-content: space-between;
    width: 1037px;
  }
  .card_table_container {
    background: #ffffff;
    border: 1px solid rgba(33, 63, 125, 0.06);
    border-radius: 4px;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    height: 640px;
    width: 100%;
    padding: 40px 20px;
    overflow-y: hidden;
    overflow-x: auto;
    .card_table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 50px !important;
      .table_head {
        width: 100%;
        .head_row {
          font-size: 14px;
          font-weight: 500;
          color: rgba(84, 95, 125, 1);

          th {
            font-size: 12px;
            padding: 10px 2px;
            font-weight: 600;
            text-align: left;
            .th_child {
              display: flex;
              align-items: start;
              gap: 10px;
            }
            .icon {
              cursor: pointer;
            }
          }
        }
      }
      .table_body {
        gap: 20px;
        width: 100%;
        :last-child {
          border-bottom: none !important;
        }

        .row_data {
          font-size: 14px;
          font-weight: 500;
          color: rgba(33, 63, 125, 1);
          border-bottom: 1px solid rgba(33, 63, 125, 0.1);
          text-transform: capitalize;
          td {
            // padding: 20px 4px 20px 0;
            height: 62px;
            font-size: 14px;
            color: #545f7d;
            font-family: "Work Sans", sans-serif;
            font-weight: 400;
            width: fit-content;
            .status {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 2px;
              .status_check {
                font-weight: 400;
                height: 30px;
                padding: 5px 10px;
                font-size: 14px;
              }
              .active {
                color: #39cd62;
                background: rgba(57, 205, 98, 0.3);
                border-radius: 100px;
              }
              .inactive {
                background: rgba(84, 95, 125, 0.3);
                border-radius: 100px;
                color: rgba(84, 95, 125, 1);

              }
              .status_icon {
                width: 10px;
                height: 10px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
