.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  background: #E5E5E5;
  .layout_header {
    display: flex;
    height: 100px;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 3px 0px 20px  rgba(0, 0, 0, 0.04);
  }
  .layout_content {
    display: flex;
    gap: 60px;
    width: 100%;
    @media screen and (max-width: 1440px) {
      gap: 40px;
    }
    align-items: start;
    .content_aside {
      width: 290px;
      padding: 20px 0;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
      background-color: white;
    }
    main {
      padding: 80px;
      @media screen and (max-width: 1440px) {
        padding: 80px 0 0 0;
      }
    }
  }
}
